@using PracticeASP.Models
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<p>Use this area to provide additional information.</p>



